[Unit]
Description=Midterm Service

[Service]
ExecStart=/home/ubuntu/npm/bin/npm run start-service
WorkingDirectory=/home/ubuntu/bin/midterm
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=midterm
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production
Environment=MIDTERM_PORT=30035

[Install]
WantedBy=multi-user.target
