[Unit]
Description=Run AWS Provision

[Service]
ExecStart=/home/ubuntu/npm/bin/npm run start-service
WorkingDirectory=/home/ubuntu/bin/awsprov
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=awsprov
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production
Environment=PORT=30200

[Install]
WantedBy=multi-user.target
